:root {
  /* colors */
  --primary-color: #fcb426;
  --primary-hover: #e69b05;
  --gray: gray;
  --grey-700: #334155;
  --grey-300: rgb(202, 201, 201);
  --white: #ffffff;
  --secondary-form-white: #f8fafc;
  --secondary-footer: rgb(81, 81, 176);
  --secondary-list: rgb(92, 89, 89);
  --secondary-white: azure;
  --secondary-green: #0e5c25;
  /* features */
  --letter-space-1: 0.1em;
  --letter-space-0: 0em;
  --letter-space-2: 0.2em;
  --letter-space-3: 0.3em;
  --border-radius-5: 5px;
  --border-radius-10: 10px;
  --border-radius-2: 2px;
  --border-radius-3: 3px;
  --border-radius-0: 0px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section {
  padding: 0 60px;
}
/* Navigation */
.active,
.nav-link:hover {
  font-weight: bold;
}
.navbar a {
  text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  width: 200px;
}
.nav-logo {
  display: flex;
  color: var(--secondary-green);
  align-items: flex-end;
}

.nav-btn {
  border: none;
  background-color: var(--white);
  padding: 0.15rem 0.75rem;
  color: var(--primary-color);
}
.nav-btn i {
  font-size: 1.25rem;
}
.nav-links {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}
.show-links {
  height: 23.9375rem;
}

.nav-link {
  color: var(--secondary-green);
  display: block;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-space-1);
  padding: 1rem 0;
  border-top: 1px solid var(--grey-300);
  transition: var(--transition);
}
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-color);
  border: transparent;
  border-radius: var(--border-radius-5);
  letter-spacing: var(--letter-space-1);
  padding: 0.375rem 0.75rem;
  transition: var(--transtion);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-hover);
}

.contact-btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 5px 20px 7px 20px;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-5);
  text-decoration: none;
}
.contact-btn:hover {
  background-color: var(--primary-hover);
}
.contact-link {
  text-align: center;
}
@media screen and (min-width: 752px) {
  .navbar {
    height: 6rem;
  }
  .nav-center {
    display: flex;
    align-items: center;
  }
  .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: auto;
  }

  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .nav-link {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .contact-link {
    margin-right: 0;
    margin-left: auto;
  }
}
.nav-logo,
h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-size: 28px;
  font-style: normal;
}

/* Head section */
.head-section {
  background: url(images/bg2.jpg) center/cover no-repeat;
  color: white;
  text-align: center;
  height: 50vh;
  margin-bottom: 2rem;
  border-radius: var(--border-radius-10);
  padding-top: 10px;
  background-position: center bottom;
}
.head-section h1 {
  font-size: 38px;
}
.head-section h4 {
  text-transform: uppercase;
  letter-spacing: var(--letter-space3);
  font-size: 12px;
  margin-top: 0;
  color: var(--secondary-white);
}

/* Home page recipe */
.home-page-recipe {
  display: flex;
  gap: 20px;
}
.recipe-list {
  width: 10%;
  padding-right: 20px;
  margin-right: 50px;
}
.recipe-list h4 {
  font-size: 24px;
  margin-bottom: 0;
}
.recipe-list li {
  list-style: none;
  cursor: pointer;
}
.recipie-list-link a {
  color: var(--secondary-list);
}
.recipie-list-link a:hover {
  color: black;
}
.recipe-list ul {
  padding-left: 0;
  padding-top: 0;
  line-height: 1.5rem;
}
.display-recipe {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.card h4 {
  margin-top: 1%;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: var(--letter-space-1);
  margin-bottom: 0;
  cursor: pointer;
}
.card,
.re-list {
  text-decoration: none;
  color: black;
}
.card img {
  border-radius: var(--border-radius-10);
  margin-bottom: 0;
  cursor: pointer;
}
.recipie-time p {
  cursor: pointer;
  font-size: 14px;
  margin-top: 0;
  color: var(--gray);
}

/* footer */
footer {
  background-color: black;
  color: white;
  margin-bottom: 0;
  margin-top: 20px;
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer span,
footer a {
  color: var(--secondary-footer);
}
/* CONTACT PAGE */

.contact-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.contact-page > .about-content > h4 {
  font-weight: 400;
  letter-spacing: var(--letter-space-1);
}
.contact-content-p p {
  margin-bottom: 30px;
}
.contact-content-p {
  margin-top: 30px;
  margin-bottom: 40px;
}
.contact-form-list {
  margin: 20px auto 10px auto;
}

.form {
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius-2);
  box-shadow: 1px 1px 5px rgb(203, 202, 202);
  padding: 2rem 3.5rem 2rem 2.5rem;
  /* margin-right: 10px; */
}
.form-label {
  display: block;
  font-size: small;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-space-1);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius-3);
  background-color: var(--secondary-form-white);
  border: 1px solid rgb(233, 232, 232);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

.btn-block {
  width: 100%;
  font-size: 16px;
  padding: 0.375rem 0.75rem;
}

/* ABOUT PAGE */
.about {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.about > .about-content {
  margin-bottom: 30px;
}
.about-content {
  width: 50%;
  /* 
  padding-top: 30px;
  padding-right: 40px; */
}
.about-content h4 {
  font-size: 36px;
  letter-spacing: var(--letter-space-2);
  margin-bottom: 0;
}
.about-content-p {
  margin-bottom: 40px;
}
.about-content .contact-btn {
  padding: 11px 20px;
}
.about-img img {
  height: 400px;
  border-radius: var(--border-radius-5);
}
.about-suggestion > h4 {
  margin: 50px auto 30px auto;
  text-align: center;
  font-size: 24px;
}
.recipe-name {
  margin-top: 0;
}

/* TAG PAGE  */
.page {
  min-height: calc(100vh - (6rem + 4rem));
}
.tags-wrapper {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}
.tag {
  background-color: var(--secondary-green);
  border-radius: var(--border-radius-5);
  text-align: center;
  color: var(--white);
  text-decoration: none;
  transition: var(--transition);
  padding: 1rem 0;
}
.tag:hover {
  background: green;
}
.tag h5,
.tag p {
  margin-bottom: 0;
  margin-top: 0;
}
.tag h5 {
  font-size: 18px;
  font-weight: 600;
}

/*Single recipie*/
.recipe-hero {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-left: 0;
  padding-right: 0;
}
.recipe-img {
  padding-top: 60px;
}
.recipe-hero-img {
  height: 300px;
  border-radius: var(--border-radius-10);
}
.recipe-info p {
  color: var(--grey-700);
}
.recipe-info h2 {
  font-size: 32px;
}
.recipe-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  text-align: center;
}
.recipe-icons i {
  font-size: 1.5rem;
  color: var(--primary-color);
}
.recipe-icons h5,
.recipe-icons p {
  margin-bottom: 0;
  font-size: 0.85em;
  font-weight: 400;
  text-transform: capitalize;
}

.recipe-icons p {
  color: var(--grey-700);
}
.recipe-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-weight: 600;
}
.recipe-tags a {
  background: var(--primary-color);
  border-radius: 5px;
  color: var(--white);
  padding: 0.15rem 0.5rem;
  margin: 0 0.25rem;
  text-transform: capitalize;
  text-decoration: none;
}
.recipe-content {
  padding: 3rem 0;
  display: grid;
  gap: 2rem 5rem;
}
@media screen and (min-width: 992px) {
  .recipe-content {
    grid-template-columns: 2fr 1fr;
  }
}
.single-instruction header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
}
.single-instruction {
  margin-bottom: 30px;
}
.single-instruction header p {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-hover);
  margin-bottom: 0;
  margin-top: 0;
}
.single-instruction > p {
  color: var(--grey-700);
}
.single-instruction header div {
  height: 2px;
  background: var(--grey-300);
}
.second-column {
  display: grid;
  row-gap: 2rem;
}
.single-ingredient {
  border-bottom: 2px solid var(--grey-300);
  padding-bottom: 0.75rem;
  color: var(--grey-700);
}
.single-tool {
  border-bottom: 2px solid var(--grey-300);
  padding-bottom: 0.75rem;
  color: var(--primary-hover);
  text-transform: capitalize;
}
.recipe-subheading {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
@media screen and (min-width: 576px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 850px) {
  .recipe-hero {
    flex-direction: column;
  }
  .recipe-img {
    padding-top: 0;
    order: 1;
  }
  .recipe-info {
    order: 0;
  }
  .recipe-img img {
    width: 100%;
    height: 350px;
  }
  .recipe-content h4 {
    margin-top: 0;
  }
}
@media screen and (max-width: 985px) {
  .recipe-img img {
    height: 250px;
  }
  .about {
    flex-direction: column;
    margin-top: 0;
  }
  .about-img img {
    height: 250px;
  }
  .about-content {
    width: 100%;
    padding-right: 0;
    padding-top: 0;
  }
  .about-content > h4 {
    margin-top: 0;
    font-size: 26px;
    letter-spacing: var(--letter-space-0);
  }
}
@media only screen and (max-width: 829px) {
  .head-section {
    height: 40vh;
    background-position: bottom;
  }
  .head-section h1 {
    font-size: 24px;
  }
  .head-section h4 {
    letter-spacing: 0var (--letter-space-0);
  }
  /* .home-page-recipe {
    display: block;
  } */
  .display-recipe {
    order: 0;
  }
  .recipe-list {
    order: 1;
  }
  .recipie-list-link {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  .about {
    display: block;
    margin-top: 0;
  }
  .about-content h4 {
    margin-top: 0;
  }
  .about-content,
  .about-img img {
    margin: 0 auto;
    padding-top: 0;
    width: 100%;
  }
  .home-page-recipe {
    flex-direction: column;
  }
}
@media only screen and (max-width: 704px) {
  .display-recipe {
    justify-content: space-around;
  }
  .contact-page {
    flex-direction: column;
    justify-content: center;
  }
  .contact-form-list {
    width: 50%;
    margin: 0;
  }
  .head-section-mobile {
    padding-left: 0;
    padding-right: 0;
  }
  .head-section {
    border-radius: var(--border-radius-0);
  }
}
